*{
margin: 0;
padding: 5px;
box-sizing: border-box;
font-family: "Garamond"

}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    background-color: #866E61;
}

ul {
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-between;
    background-color: #866E61;
}
main{
    width: auto;
    margin:auto;
    text-align: center;
}

.abtMe {
    text-align: left;
}


.abtMePics {
    display: flex;
}


.fourBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
}

.box {
    width: 250px;
    height: 250px;
    background-color: #866E61;
}

.parent {
    width:100%;
    display: flex;
    justify-content: flex-end;
}